<!DOCTYPE html>
{% extends 'header.html' %} {% block title %}Add point{% endblock %} {% block
content %}
<html>
  <head>
    <title>Add a Point</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
    <script>
      function initMap() {
        var map = L.map("map").setView([56.946285, 24.105078], 7);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution:
            'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
          noWrap: true,
          bounds: [
            [-90, -180],
            [90, 180],
          ],
          minZoom: 3,
        }).addTo(map);
        var southWest = L.latLng(-90, -180);
        var northEast = L.latLng(90, 180);
        var bounds = L.latLngBounds(southWest, northEast);
        map.setMaxBounds(bounds);
        var markers = [];

        map.on("click", function (e) {
          var lat = e.latlng.lat;
          var lng = e.latlng.lng;
          if (markers.length > 0) {
            // if markers exist, remove the last one from the map and array
            var lastMarker = markers.pop();
            map.removeLayer(lastMarker);
          } else {
            // if no markers exist, create a new marker and add it to the map and array
            var newMarker = L.marker(e.latlng).addTo(map);
            markers.push(newMarker);
            document.getElementById("latitude").value = lat;
            document.getElementById("longitude").value = lng;
          }
        });
        const badWords = [
          "cunt",
          "fuck",
          "kys",
          "retard",
          "nigg",
          "nigger",
          "nigga",
          "fuck",
          "fucker",
          "niger",
          "N1gger",
          "nigge",
          "niggers",
          "kysretard",
          "kill your self",
          "idiot",
        ];

        const inputField = document.getElementById("name");
        const submitButton = document.getElementById("finish");
        const textarea = document.getElementById("description");
        const alertBox = document.getElementById("alertBox");

        const checkForBadWords = function () {
          const inputValue = inputField.value.toLowerCase();
          const textareaValue = textarea.value.toLowerCase();
          let hasBadWords = false;

          for (let i = 0; i < badWords.length; i++) {
            const badWord = badWords[i];
            const regex = new RegExp("\\b" + badWord + "\\b", "gi");
            if (regex.test(inputValue) || regex.test(textareaValue)) {
              hasBadWords = true;
              break;
            }
          }

          submitButton.disabled = hasBadWords;
          alertBox.style.display = hasBadWords ? "block" : "none";
        };

        inputField.addEventListener("input", checkForBadWords);
        textarea.addEventListener("input", checkForBadWords);
      }
    </script>
  </head>
  <body onload="initMap()">
    <div class="container mt-5 text-center">
      <div class="container mx-auto">
        {% if notification and notification != 'Point added sucessfully!'%}
        <div class="alert alert-danger" role="alert">{{ notification }}</div>
        {% endif %} {% if notification == 'Point added sucessfully!' %}
        <div class="alert alert-success" role="alert">{{ notification }}</div>
        {% endif %}
        <div
          class="alert alert-danger mt-3"
          role="alert"
          id="alertBox"
          style="display: none">
          Your input contains inappropriate content.
        </div>
        <h1>Add a Point</h1>
        <form method="post" action="{{ url_for('add_point') }}">
          <label for="name" class="form-label">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter point name"
            required /><br />

          <div class="row" style="display: none">
            <div class="col">
              <label for="latitude" class="form-label">Latitude:</label>
              <input
                type="number"
                id="latitude"
                class="form-control"
                placeholder="Enter latitude"
                name="latitude"
                step="0.00000000000000001"
                min="-90"
                max="90" /><br />
            </div>
            <div class="col">
              <label for="longitude" class="form-label">Longitude:</label>
              <input
                type="number"
                id="longitude"
                class="form-control"
                placeholder="Enter longitude"
                name="longitude"
                step="0.00000000000000001"
                min="-180"
                max="180" /><br />
            </div>
          </div>

          <label for="description" class="form-label">Description:</label>
          <textarea
            type="text"
            id="description"
            name="description"
            required
            class="form-control"
            placeholder="Enter a description"></textarea>

          <div class="row">
            <div class="col">
              <label for="postdate" class="form-label">Post Date:</label>
              <input
                type="date"
                id="postdate"
                name="postdate"
                required
                class="form-control" />
            </div>
            <div class="col">
              <label for="removedate" class="form-label">Remove Date:</label>
              <input
                type="date"
                id="removedate"
                name="removedate"
                class="form-control" />
            </div>
          </div>

          <label for="type" class="form-label">Type:</label>
          <select
            class="form-select"
            id="type"
            name="type"
            aria-label="Select an option">
            {% if types %} {% for x in types %}
            <option value="{{ x['type'] }}">{{ x['type'] }}</option>
            {% endfor %} {% endif %}</select
          ><br />

          <input
            type="hidden"
            id="username"
            name="username"
            value="{{ username }}" />

          <p>Press on map to get latitude and longitude.</p>
          <div id="map" style="width: 100%; height: 500px"></div>
          <input
            id="finish"
            type="submit"
            style="width: 100%; margin-top: 20px; margin-bottom: 20px"
            class="btn btn-success"
            value="Add Point" />
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
