{% extends 'header.html' %}

{% block title %}My events{% endblock %}

{% block content %}
{% if users %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">date of birth</th>
            <th scope="col">username</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
          {% for x in users %}
            <tr>
              <td scope="row">{{ x['_id'] }}</td>
              <td>{{ x['name'] }}</td>
              <td>{{ x['surname'] }}</td>
              <td>{{ x['dateofbirth'] }}</td>
              <td>{{ x['username'] }}</td>
              <td>
                <form action="/admin_ui/users/delete_user/{{ x['_id'] }}" method="POST">
                  <button style="margin-right: 10px;" type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  <div class="alert alert-danger" style="margin: 10px;" role="alert">
    No users.
  </div>
  {% endif %}
{% endblock %}