{% extends 'header.html' %} {% block title %}Search users markers{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>User Marker Table</title>
    <style>
      .table-hover th:hover {
        cursor: pointer;
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h3 class="mb-3">Find specific user markers</h3>

      <!-- Input form -->
      <form method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter username" />
        </div>
        <button type="submit" id="usersubmit" class="btn btn-primary" disabled>
          Submit
        </button>
      </form>
      <hr />

      <!-- Table to display markers -->
      {% if allUserPoints %}
      <div class="table-responsive">
        <table class="table table-striped table-hover" id="myTable">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">latitude</th>
              <th scope="col">longitude</th>
              <th scope="col">name</th>
              <th scope="col">description</th>
              <th scope="col" onclick="toggleDate()">post date</th>
              <th scope="col" onclick="toggleRemoveDate()">remove date</th>
              <th scope="col">type</th>
              <th scope="col">author</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for x in allUserPoints %}
            <tr>
              <td scope="row">{{ x['_id'] }}</td>
              <td>{{ x['latitude'] }}</td>
              <td>{{ x['longitude'] }}</td>
              <td>{{ x['name'] }}</td>
              <td>{{ x['description'] }}</td>
              <td>{{ x['postdate'] }}</td>
              <td>{{ x['removedate'] }}</td>
              <td>{{ x['type'] }}</td>
              <td>{{ x['author'] }}</td>
              <td>
                <form
                  action="/admin_ui/markers/delete_point/{{ x['_id'] }}"
                  method="POST">
                  <button
                    data-toggle="modal"
                    data-target="#deleteModal-{{ x['_id'] }}"
                    style="margin-right: 10px"
                    type="button"
                    class="btn btn-danger">
                    Delete
                  </button>
                </form>
                <div
                  class="modal fade"
                  id="deleteModal-{{ x['_id'] }}"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="deleteModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">
                          Confirm Marker Deletion
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Delete marker with id of: {{ x['_id'] }}
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">
                          Cancel
                        </button>
                        <a
                          href="/admin_ui/markers/delete_point/{{ x['_id'] }}"
                          type="button"
                          class="btn btn-danger"
                          >Delete Marker</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {%else%}
    <div class="alert alert-danger" role="alert">
      No markers for this person!
    </div>
    {%endif%}

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Get the table and its headers
      const table = document.getElementById("myTable");
      const headers = table.querySelectorAll("th");

      // Add click event listener to each header
      headers.forEach((header, index) => {
        header.addEventListener("click", () => {
          // Get the table rows
          const rows = table.querySelectorAll("tbody tr");
          // Create an array from the rows and sort it by the clicked header
          const sortedRows = Array.from(rows).sort((a, b) => {
            const aText = a
              .querySelector(`td:nth-child(${index + 1})`)
              .textContent.trim();
            const bText = b
              .querySelector(`td:nth-child(${index + 1})`)
              .textContent.trim();
            return aText.localeCompare(bText);
          });
          // Reverse the sorted array if the header is already sorted in ascending order
          if (header.classList.contains("asc")) {
            sortedRows.reverse();
            header.classList.remove("asc");
            header.classList.add("desc");
          } else {
            header.classList.remove("desc");
            header.classList.add("asc");
          }
          // Replace the old rows with the sorted rows
          rows.forEach((row) => row.remove());
          sortedRows.forEach((row) =>
            table.querySelector("tbody").appendChild(row)
          );
        });
      });
      const inputField = document.getElementById("username");
      const submitButton = document.getElementById("usersubmit");

      inputField.addEventListener("input", function () {
        if (inputField.value.trim() !== "") {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      });
      var toggle = false;

      function toggleDate() {
        toggle = !toggle;
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < rows.length - 1; i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("td")[5];
            y = rows[i + 1].getElementsByTagName("td")[5];
            if (toggle) {
              if (x.innerHTML < y.innerHTML) {
                shouldSwitch = true;
                break;
              }
            } else {
              if (x.innerHTML > y.innerHTML) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }
      var toggle = false;
      function toggleRemoveDate() {
        toggle = !toggle;
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < rows.length - 1; i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("td")[6];
            y = rows[i + 1].getElementsByTagName("td")[6];
            if (toggle) {
              if (x.innerHTML < y.innerHTML) {
                shouldSwitch = true;
                break;
              }
            } else {
              if (x.innerHTML > y.innerHTML) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }
    </script>
  </body>
</html>
{% endblock %}
