<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<html>
  <head>
    <title>{% block title %}My Website{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Eventus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    {% if name %}
                    <li class="nav-item">
                      <a class="nav-link" href="/add_point">Add point</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/user_points">My points</a>
                    </li>
                    {% else %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <form class="d-flex" role="search">
          {% if name %}
            <span class="navbar-text" style="margin-right: 5px;">Welcome,</span>
            <span class="navbar-text" style="margin-right: 10px;">{{ name }}!</span>
            <a class="btn btn-success" style="margin-right: 10px;" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a class="btn btn-success" style="margin-right: 10px;" href="{{ url_for('login') }}">Login</a>
            <a href="/register" class="btn btn-success" style="margin-right: 10px;" role="button">Register</a>
          {% endif %}
        </form>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>