<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My Website{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        {% if username %}
        <a class="navbar-brand" href="/">Eventus</a>
        {% elif admin and active_page == 'admin_ui.html' %}
        <a class="navbar-brand" href="#">Admin Panel</a>
        {% else %}
        <a class="navbar-brand" href="/">Eventus</a>
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"> <i class="bi bi-map"></i> Map </a>
            </li>
            {% if active_page == 'home.html' %}
            <li class="nav-item">
              <a
                class="nav-link"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling">
                <i class="bi bi-dot"></i> Points
              </a>
            </li>
            {% endif %} {% if username %}
            <li class="nav-item">
              <a class="nav-link" href="/add_point">
                <i class="bi bi-plus-circle"></i> Add point
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user_points">
                <i class="bi bi-pin-map"></i> My markers
              </a>
            </li>
            {% endif %} {% if admin %}
            <li class="nav-item">
              <a class="nav-link" href="/admin_ui">
                <i class="bi bi-person-badge"></i> Admin panel
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <form class="d-flex" role="search">
          {% if username %}
          <div class="btn-group" style="margin-right: 30px">
            <button
              type="button"
              class="btn btn-secondary dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-expanded="false">
              <i class="bi bi-person-fill"></i> {{ username }}
            </button>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li>
                <a class="dropdown-item" href="/profile/{{username}}">
                  <i class="bi bi-person-circle"></i> Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/user_settings">
                  <i class="bi bi-gear"></i> Settings
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                  <i class="bi bi-box-arrow-right"></i> Logout
                </a>
              </li>
            </ul>
          </div>
          {% elif admin %}
          <div class="btn-group" style="margin-right: 30px">
            <button
              type="button"
              class="btn btn-secondary dropdown-toggle"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-expanded="false">
              <i class="bi bi-person-fill"></i> {{ admin }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li>
                <a class="dropdown-item" href="{{ url_for('logout') }}"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
          {% else %}
          <div class="reg-button" id="reg-button">
            <a
              href="/register"
              class="btn btn-success"
              style="margin-right: 10px"
              role="button"
              >Register</a
            >
          </div>
          {% endif %}
        </form>
      </div>
    </nav>
  </body>
  <main>{% block content %}{% endblock %}</main>
</html>
