<!DOCTYPE html>

<html>
  <head>
    <title>Eventus</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin="" />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/leaflet.markercluster.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}" />
  </head>
  <body onload="getDataCount()">
    <!-- Login Modal -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Log in</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div
              class="alert alert-danger"
              role="alert"
              id="error-message"
              hidden></div>
            <!-- {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %} -->
            <!-- Login form -->
            <form id="login-form" action="{{ url_for('home') }}" method="POST">
              <div class="mb-3">
                <label for="inputEmail" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Username"
                  required />
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  required />
              </div>
              <button type="submit" class="btn btn-primary w-100">
                Log in
              </button>
            </form>
            <hr class="my-3" />
            <p class="text-center">Don't have an account?</p>
            <div class="d-grid gap-2">
              <a
                class="btn btn-primary"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#registrationModal"
                >Register</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="aboutModal"
      tabindex="-1"
      aria-labelledby="aboutModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="aboutModalLabel">About</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <p>
                Discover new places and exciting events with our map-based
                platform! Welcome to our community-driven platform where users
                can share and explore various points of interest in different
                locations.
              </p>
              <p>
                Our platform is designed to support a wide range of marker
                types, including events, meetups, roadworks, sales, and more.
                This allows our users to share a diverse range of information
                with the community, making our platform a valuable resource for
                anyone looking to explore new places or discover exciting
                events.
              </p>
              <p>
                One of our key features is the ability for users to report
                markers if they contain false or misleading information. We take
                the quality and authenticity of the information provided by our
                users seriously, and this feature helps us to ensure that our
                platform is a reliable source of information for our users.
              </p>
              <p>
                Overall, our goal is to create a platform where users can share
                and discover interesting and informative points of interest in
                different locations, while ensuring that the information
                provided is trustworthy and accurate. Whether you're a frequent
                traveler, a local explorer, or just someone looking for
                something new and interesting to do, we invite you to join our
                community!
              </p>
              <p>
                Our platform is built using a combination of Flask, Bootstrap,
                HTML, JS, CSS, Mongodb, and Jquery, which enable us to create a
                user-friendly, responsive and scalable web application. These
                powerful tools enable us to provide our users with a seamless
                experience and ensure that our platform is reliable and
                scalable.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Registration Modal -->
    <div
      class="modal fade"
      id="registrationModal"
      tabindex="-1"
      aria-labelledby="registrationModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registrationModalLabel">Register</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">Work in progress</div>
            <form>
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  required />
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  required />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="passwordE"
                  required />
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  required />
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Events</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!-- Type filter for the future (Need JS code to work!) -->
      <!-- <form>
        {% if allTypes %} {% for x in allTypes %}
        <label for="{{ x['type'] }}">
          <input
            type="checkbox"
            name="{{ x['type'] }}"
            value="{{ x['type'] }}"
            class="check" /> </label
        >{{ x['type'] }} {% endfor %} {% endif %}
      </form> -->
      <div class="offcanvas-body">
        {% if result %} {% for x in result %}
        <div id="{{ x['type'] }}" class="card" style="margin-bottom: 10px">
          <h5 class="card-header" id="{{ x['type'] }}">{{ x['type'] }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ x['name'] }}</h5>
            <p class="card-text">{{ x['description'] }}</p>
            <p class="fw-light">{{ x['postdate'] }}</p>
            <a
              onclick="goToMarker(`{{ x['latitude'] }}`, `{{ x['longitude'] }}`)"
              id="my-button"
              class="btn btn-primary"
              >Event lookup</a
            >
          </div>
        </div>
        {% endfor %} {% else %} {% endif %}
        <h5
          class="offcanvas-title"
          id="offcanvasScrollingLabel"
          style="margin-top: 20px; margin-bottom: 20px">
          Upcoming events
        </h5>
        {% if upcoming %} {% for x in upcoming %}
        <div id="{{ x['type'] }}" class="card" style="margin-bottom: 10px">
          <h5 class="card-header" id="{{ x['type'] }}">{{ x['type'] }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ x['name'] }}</h5>
            <p class="card-text">{{ x['description'] }}</p>
            <p class="fw-light">{{ x['postdate'] }}</p>
          </div>
        </div>
        {% endfor %} {% else %} {% endif %}
      </div>
    </div>
    <div id="map" style="position: relative"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</html>
