<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}" />
    <style>
      body {
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Register</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                {% if notification %}
                <div class="alert alert-danger" role="alert">
                  {{ notification }}
                </div>
                {% endif %}
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter name"
                    required />
                </div>
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    name="surname"
                    placeholder="Enter surname"
                    required />
                </div>
                <div class="form-group">
                  <label for="dateofbirth">Date of birth</label>
                  <input
                    type="date"
                    class="form-control"
                    id="dateofbirth"
                    name="dateofbirth"
                    required />
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter username"
                    required />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    onkeyup="checkPasswordStrength();"
                    placeholder="Enter password" />
                  <small id="passwordHelp" class="form-text text-muted"
                    >Password must be at least 8 characters long and contain at
                    least one uppercase letter, one lowercase letter, one
                    number, and one special character.</small
                  >
                </div>
                <div class="progress">
                  <div
                    id="passwordStrengthBar"
                    class="progress-bar bg-danger"
                    role="progressbar"></div>
                </div>
                <div id="passwordStrengthText" class="mt-2"></div>
                <div class="form-group">
                  <label for="password">Repeat password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="repeatpassword"
                    name="repeatpassword"
                    required />
                </div>
                <button
                  style="width: 100%"
                  type="submit"
                  value="Register"
                  id="register-btn"
                  class="btn btn btn-white">
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='register.js')}}"></script>
  </body>
</html>
