{% extends 'header.html' %} {% block title %}User settings{% endblock %} {%
block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>User Settings</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}" />
    <style>
      .custom-alert {
        background-color: #fff;
        color: #000;
        border-color: #000;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">User settings</h1>
      <form method="POST">
        <div class="container mt-5">
          {% if notification %}
          <div class="alert alert-danger" role="alert">{{ notification }}</div>
          {% endif %}
          <div class="alert custom-alert">
            <div class="alert custom-alert">
              <h4>Marker popups</h4>
              <p>Choose markers to see them first on the map!</p>
              {% if allTypes %} {% for x in allTypes %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="post"
                value="{{x['type']}}" {% if x['type'] in settings.settings.posts
                %}checked{% endif %} />
                <label class="form-check-label">{{ x['type'] }}</label>
              </div>
              {% endfor %} {% endif %}
            </div>
            <div class="alert custom-alert">
              <h4>Personal information</h4>
              {% if username %}
              <form method="post">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter name"
                    name="name"
                    value="{{ profile['name'] }}"
                    required />
                </div>
                <div class="form-group">
                  <label for="surname">Surname:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Enter surname"
                    name="surname"
                    value="{{ profile['surname'] }}"
                    required />
                </div>
                <div class="form-group">
                  <label for="dob">Date of Birth:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="dob"
                    name="dob"
                    value="{{ profile['dateofbirth'] }}"
                    required />
                </div>
                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn btn-white"
                  data-toggle="modal"
                  data-target="#saveModal">
                  <i class="bi bi-save"></i> Save
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="saveModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="saveModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="saveModalLabel">
                          Save Settings
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to save these settings?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn btn-white"
                          data-dismiss="modal">
                          Cancel
                        </button>
                        <button
                          type="submit"
                          class="btn btn btn-white"
                          id="saveSettingsBtn">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              {% else %} {% endif %}
            </div>
          </div>
          <div class="alert custom-alert">
            <h4>Upgrade to Premium</h4>
            <p>
              With our premium plan, you'll get access to exclusive features
              that will take your experience to the next level.
            </p>
            <ul>
              <li>Unlimited numbers of posts</li>
              <li>Priority points</li>
            </ul>
            <a href="#" class="btn btn btn-white disabled">Upgrade Now</a>
          </div>
          <div class="alert custom-alert">
            <h4>Verify Account</h4>
            {% if verification_email == "" %}
            <p>Click the button below to verify your account:</p>
            <a href="{{ url_for('send_code') }}" class="btn btn btn-white"
              >Verify my account</a
            >
            {% else %}
            <p>Account verified!</p>
            <button type="button" class="btn btn btn-white disabled">
              Remove verification
            </button>
            {% endif %}
          </div>
          <div class="alert custom-alert">
            <h4>Danger Zone</h4>
            <p>Click the button below to permanently delete your account:</p>
            <button
              type="button"
              class="btn btn btn-white"
              data-toggle="modal"
              data-target="#deleteModal">
              <i class="bi bi-trash"></i> Delete Account
            </button>

            <div
              class="modal fade"
              id="deleteModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="deleteModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="deleteModalLabel"
                      style="color: black">
                      Confirm Account Deletion
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="color: black">
                    Are you sure you want to delete your account? This action
                    cannot be undone.
                  </div>
                  <div class="modal-body" style="color: black">
                    Following content will be permanently deleted:
                  </div>
                  <ul style="color: black">
                    <li>All markers and it's containing Information.</li>
                    <li>All users data.</li>
                    <li>Your selection on markers.</li>
                  </ul>
                  <div class="container mt-5">
                    <h1>Account Deletion</h1>
                    <form action="/delete-user/{{ username }}" method="POST">
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                          autocomplete="off"
                          required />
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn btn-white"
                          data-dismiss="modal">
                          <i class="bi bi-x"></i> Cancel
                        </button>

                        <button type="submit" class="btn btn btn-white">
                          <i class="bi bi-trash"></i> Delete Account
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script>
    const form = $("#name").closest("form");

    const validateInput = (input, errorMsgs) => {
      const value = input.val();
      const errors = [];

      const regex = /^[\p{L}\s]{2,30}$/u;

      if (!regex.test(value)) {
        errors.push(
          `${input.attr(
            "name"
          )} should consist of 2 to 30 characters, allowing both uppercase and lowercase letters and spaces. Special characters and punctuation marks are not permitted.`
        );
      }

      if (errors.length > 0) {
        input.addClass("is-invalid");
        errorMsgs.html(
          `<ul class="mb-0">${errors
            .map((error) => `<li>${error}</li>`)
            .join("")}</ul>`
        );
        errorMsgs.show();
        return false;
      }

      input.removeClass("is-invalid");
      errorMsgs.hide().text("");
      return true;
    };

    const validateDateInput = (input, errorMsgs) => {
      const value = input.val();
      const errors = [];

      const enteredDate = new Date(value);
      const currentDate = new Date();

      const regex = /^\d{4}-\d{2}-\d{2}$/;

      if (!regex.test(value)) {
        errors.push(`${input.attr("name")} format has to be YYYY-MM-DD.`);
      }

      if (enteredDate > currentDate) {
        errors.push(
          "Please provide a date of birth that is before the current date or valid date."
        );
      }

      if (errors.length > 0) {
        input.addClass("is-invalid");
        errorMsgs.html(
          `<ul class="mb-0">${errors
            .map((error) => `<li>${error}</li>`)
            .join("")}</ul>`
        );
        errorMsgs.show();
        return false;
      }

      input.removeClass("is-invalid");
      errorMsgs.hide().text("");
      return true;
    };

    const validatePasswordInput = (input, errorMsgs) => {
      const value = input.val();
      const errors = [];

      // Password length must be between 8 and 50 characters.
      if (value.length < 8 || value.length > 50) {
        errors.push("Password must be between 8 and 50 characters!");
      }

      if (errors.length > 0) {
        input.addClass("is-invalid");
        errorMsgs.html(
          `<ul class="mb-0">${errors
            .map((error) => `<li>${error}</li>`)
            .join("")}</ul>`
        );
        errorMsgs.show();
        return false;
      }

      input.removeClass("is-invalid");
      errorMsgs.hide().text("");
      return true;
    };

    const createErrorElement = () =>
      $(
        '<div class="alert custom-alert mt-2" role="alert" style="display: none;"></div>'
      );

    const passwordInput = $("#password");
    const nameInput = $("#name");
    const surnameInput = $("#surname");
    const dateInput = $("#dob");

    const passwordErrorElement = createErrorElement();
    const nameErrorElement = createErrorElement();
    const surnameErrorElement = createErrorElement();
    const dateErrorElement = createErrorElement();

    form.append(
      nameErrorElement,
      surnameErrorElement,
      dateErrorElement,
      passwordErrorElement
    );

    nameInput.on("blur", () => validateInput(nameInput, nameErrorElement));
    surnameInput.on("blur", () =>
      validateInput(surnameInput, surnameErrorElement)
    );
    dateInput.on("blur", () => validateDateInput(dateInput, dateErrorElement));
    passwordInput.on("blur", () =>
      validatePasswordInput(passwordInput, passwordErrorElement)
    );

    form.on("submit", (event) => {
      if (
        !validateInput(nameInput, nameErrorElement) ||
        !validateInput(surnameInput, surnameErrorElement) ||
        !validateDateInput(dateInput, dateErrorElement) ||
        !validatePasswordInput(passwordInput, passwordErrorElement)
      ) {
        event.preventDefault();
        return false;
      }
    });
  </script>
</html>
{% endblock %}
