<!DOCTYPE html>
{% extends 'header.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<html>
<head>
  <title>My Events</title>
</head>
<body>
  {% if result %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">latitude</th>
        <th scope="col">longitude</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">post date</th>
        <th scope="col">remove date</th>
        <th scope="col">type</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for x in result %}
        <tr>
          <td scope="row">{{ x['_id'] }}</td>
          <td>{{ x['latitude'] }}</td>
          <td>{{ x['longitude'] }}</td>
          <td>{{ x['name'] }}</td>
          <td>{{ x['description'] }}</td>
          <td>{{ x['postdate'] }}</td>
          <td>{{ x['removedate'] }}</td>
          <td>{{ x['type'] }}</td>
          <td>
            <form action="/delete_point/{{ x['_id'] }}" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <form action="/edit_point/{{ x['_id'] }}" method="GET">
              <button type="submit">Edit</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-danger" style="margin: 10px;" role="alert">
    Nav ierakstu.
  </div>
  {% endif %}
</body>
</html>
{% endblock %}