html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
}
.leaflet-register-button,
.leaflet-login-button {
  background-color: #337ab7;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-right: 4px;
}

.leaflet-register-button:hover,
.leaflet-login-button:hover {
  background-color: #286090;
}

.leaflet-register-button:active,
.leaflet-login-button:active {
  background-color: #204d74;
}
.my-custom-control {
  border: none;
}
.btn-white {
  background-color: #fff;
  color: #000;
  border-color: #000;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-white:hover {
  background-color: #000;
  color: #fff;
}

.btn-icon {
  color: #000;
}

.leaflet-bar.my-custom-control.leaflet-control {
  border: none;
}
.btn-close {
  color: white;
}

.btn-close:hover {
  color: black;
  background-color: white;
  border-color: black;
}
