html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
}
.leaflet-register-button,
.leaflet-login-button {
  background-color: #337ab7;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-right: 4px;
}

.leaflet-register-button:hover,
.leaflet-login-button:hover {
  background-color: #286090;
}

.leaflet-register-button:active,
.leaflet-login-button:active {
  background-color: #204d74;
}
.my-custom-control {
  border: none;
}
.btn-white:focus,
.btn-white:active {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.btn-white {
  background-color: #fff;
  color: #000;
  border-color: #000;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-white:hover {
  background-color: #000;
  color: #fff;
}

.btn-icon {
  color: #000;
}

.leaflet-bar.my-custom-control.leaflet-control {
  border: none;
}
.btn-close {
  color: white;
}

.btn-close:hover {
  color: black;
  background-color: white;
  border-color: black;
}

@media (max-width: 767px) {
  .modal-dialog {
    max-width: 95%;
    margin: 0 auto;
  }
}
.modal-body {
  font-size: 1.2rem;
}
.custom-alert {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
/* Define custom styles for the leaflet-control-layers class */
.leaflet-control-layers {
  font-size: 16px; /* Increase the font size */
  padding: 10px; /* Increase the padding */
}

/* Media query to target phones */
@media only screen and (max-width: 600px) {
  .leaflet-control-layers {
    font-size: 20px; /* Further increase the font size for phones */
    padding: 15px; /* Further increase the padding for phones */
  }
}

/* PC version */
@media (min-width: 992px) {
  .custom-width {
    width: 100px;
  }
}

/* Mobile version */
@media (max-width: 991px) {
  .custom-width {
    width: 100px;
  }
}
